 .btn-outline-secondary:hover {
  background-color:#ff1717;
 }
.navbar-light .navbar-brand {
  color:#A288E3;
}
.bg-light {
    background-color: rgba(255, 255, 255, 0.25)!important;
}
.carousel-item {
  height: 490px;
}
.carousel-item img {
  height: 500px;
  width: 600px;
}
.navbar-brand img {
  height:50px;
}
body {
  min-height: 100vh;
   background-image: linear-gradient(green,White);
   background-size: contain;
   background-repeat: no-repeat;
}
.card {
  background-color: rgba(255, 255, 255, 0.25)!important;
  color:#f00e1a;
}
.space{
  text-align: center;
}

/* * {
  border: 1px solid blue;
} */
